openapi: 3.0.1
info:
  contact:
    email: helpmebuild@immutable.com
    name: API Support
    url: https://support.immutable.com
  description: This API implements endpoints to power data driven marketplace and
    game experiences
  title: Indexer Search API
  version: "1.0"
servers:
- description: Production
  url: https://api.immutable.com
- description: Sandbox
  url: https://api.sandbox.immutable.com
- description: Development
  url: https://api.dev.immutable.com
tags:
- description: search tag
  name: search
paths:
  /experimental/chains/{chain_name}/search/stacks:
    get:
      description: Search NFT stacks
      operationId: SearchStacks
      parameters:
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: List of contract addresses to filter by
        explode: true
        in: query
        name: contract_address
        required: true
        schema:
          items:
            example: "1334120697966828340666039427861105342297873844179"
            pattern: "^0x[a-fA-F0-9]{40}$"
            type: string
          maxItems: 20
          minItems: 1
          type: array
        style: form
      - description: Account address to filter by
        explode: true
        in: query
        name: account_address
        required: false
        schema:
          example: "1334120697966828340666039427861105342297873844179"
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
        style: form
      - description: Whether to the listings should include only the owner created
          listings
        explode: true
        in: query
        name: only_include_owner_listings
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: "JSON encoded traits to filter by. e.g. encodeURIComponent(JSON.stringify({\"\
          rarity\": {\"values\": [\"common\", \"rare\"], \"condition\": \"eq\"}}))"
        explode: true
        in: query
        name: trait
        required: false
        schema:
          type: string
        style: form
      - description: Keyword to search NFT name and description. Alphanumeric characters
          only.
        explode: true
        in: query
        name: keyword
        required: false
        schema:
          example: sword
          type: string
        style: form
      - description: Number of results to return per page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchStacksResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError401'
          description: Unauthorised Request (401)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError403'
          description: Forbidden Request (403)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Search NFT stacks
      tags:
      - search
      x-internal: false
      x-hide-from-sdk: true
  /experimental/chains/{chain_name}/quotes/{contract_address}/stacks:
    get:
      description: Get pricing data for a list of stack ids
      operationId: QuotesForStacks
      parameters:
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Contract address for collection that these stacks are on
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
        style: simple
      - description: List of stack ids to get pricing data for
        explode: true
        in: query
        name: stack_id
        required: true
        schema:
          items:
            example: 7053e765-c119-4efb-b5cf-405ccccaf6c4
            format: uuid
            type: string
          maxItems: 20
          minItems: 1
          type: array
        style: form
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotesForStacksResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError401'
          description: Unauthorised Request (401)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError403'
          description: Forbidden Request (403)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Get pricing data for a list of stack ids
      tags:
      - search
      x-internal: false
      x-hide-from-sdk: true
  /experimental/chains/{chain_name}/quotes/{contract_address}/nfts:
    get:
      description: Get pricing data for a list of token ids
      operationId: QuotesForNFTs
      parameters:
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Contract address for collection that these token ids are on
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
        style: simple
      - description: List of token ids to get pricing data for
        explode: true
        in: query
        name: token_id
        required: true
        schema:
          items:
            example: "1337"
            type: string
          maxItems: 20
          minItems: 1
          type: array
        style: form
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotesForNFTsResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError401'
          description: Unauthorised Request (401)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError403'
          description: Forbidden Request (403)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Get pricing data for a list of token ids
      tags:
      - search
      x-internal: false
      x-hide-from-sdk: true
  /v1/internal/chains/{chain_name}/backfill:
    post:
      description: Backfills or re-indexes a given entity
      operationId: Backfill
      parameters:
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackfillRequest'
        required: true
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Backfills or re-indexes a given entity
      tags:
      - search
      x-internal: false
      x-hide-from-sdk: true
components:
  responses:
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError404'
      description: The specified resource was not found (404)
    BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError400'
      description: Bad Request (400)
    UnauthorisedRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError401'
      description: Unauthorised Request (401)
    ForbiddenRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError403'
      description: Forbidden Request (403)
    Conflict:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError409'
      description: Conflict (409)
    TooManyRequests:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError429'
      description: Too Many Requests (429)
    InternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError500'
      description: Internal Server Error (500)
  schemas:
    Chain:
      description: The chain details
      example:
        name: imtbl-zkevm-testnet
        id: eip155:13372
      properties:
        id:
          description: The id of chain
          example: eip155:13372
          type: string
        name:
          description: The name of chain
          example: imtbl-zkevm-testnet
          type: string
      required:
      - id
      - name
      type: object
    ChainName:
      description: The name of chain
      example: imtbl-zkevm-testnet
      type: string
    PageCursor:
      description: Encoded page cursor to retrieve previous or next page. Use the
        value returned in the response.
      example: ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0=
      type: string
    Page:
      description: Pagination properties
      example:
        previous_cursor: ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0=
        next_cursor: ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0=
      properties:
        previous_cursor:
          description: First item as an encoded string
          example: ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0=
          nullable: true
          type: string
        next_cursor:
          description: Last item as an encoded string
          example: ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0=
          nullable: true
          type: string
      required:
      - next_cursor
      - previous_cursor
      type: object
    PageSize:
      default: 100
      description: Maximum number of items to return
      example: 10
      format: int32
      maximum: 200
      minimum: 1
      type: integer
    SearchStacksResult:
      description: Search stacks result
      example:
        result:
        - market: ""
          listings:
          - creator: 1334120697966828340666039427861105342297873844179
            amount: "1"
            listing_id: 018792C9-4AD7-8EC4-4038-9E05C598534A
            token_id: "1"
            price_details:
              amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
          - creator: 1334120697966828340666039427861105342297873844179
            amount: "1"
            listing_id: 018792C9-4AD7-8EC4-4038-9E05C598534A
            token_id: "1"
            price_details:
              amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
          - creator: 1334120697966828340666039427861105342297873844179
            amount: "1"
            listing_id: 018792C9-4AD7-8EC4-4038-9E05C598534A
            token_id: "1"
            price_details:
              amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
          - creator: 1334120697966828340666039427861105342297873844179
            amount: "1"
            listing_id: 018792C9-4AD7-8EC4-4038-9E05C598534A
            token_id: "1"
            price_details:
              amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
          - creator: 1334120697966828340666039427861105342297873844179
            amount: "1"
            listing_id: 018792C9-4AD7-8EC4-4038-9E05C598534A
            token_id: "1"
            price_details:
              amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
          stack:
            image: https://some-url
            chain:
              name: imtbl-zkevm-testnet
              id: eip155:13372
            external_url: https://some-url
            animation_url: https://some-url
            updated_at: 2022-08-16T17:43:26.991388Z
            stack_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: Sword
            created_at: 2022-08-16T17:43:26.991388Z
            description: 2022-08-16T17:43:26.991388Z
            attributes:
            - display_type: number
              value: Happy
              trait_type: Aqua Power
            - display_type: number
              value: Happy
              trait_type: Aqua Power
            contract_address: contract_address
            youtube_url: https://some-url
          stack_count: 1
        - market: ""
          listings:
          - creator: 1334120697966828340666039427861105342297873844179
            amount: "1"
            listing_id: 018792C9-4AD7-8EC4-4038-9E05C598534A
            token_id: "1"
            price_details:
              amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
          - creator: 1334120697966828340666039427861105342297873844179
            amount: "1"
            listing_id: 018792C9-4AD7-8EC4-4038-9E05C598534A
            token_id: "1"
            price_details:
              amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
          - creator: 1334120697966828340666039427861105342297873844179
            amount: "1"
            listing_id: 018792C9-4AD7-8EC4-4038-9E05C598534A
            token_id: "1"
            price_details:
              amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
          - creator: 1334120697966828340666039427861105342297873844179
            amount: "1"
            listing_id: 018792C9-4AD7-8EC4-4038-9E05C598534A
            token_id: "1"
            price_details:
              amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
          - creator: 1334120697966828340666039427861105342297873844179
            amount: "1"
            listing_id: 018792C9-4AD7-8EC4-4038-9E05C598534A
            token_id: "1"
            price_details:
              amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
          stack:
            image: https://some-url
            chain:
              name: imtbl-zkevm-testnet
              id: eip155:13372
            external_url: https://some-url
            animation_url: https://some-url
            updated_at: 2022-08-16T17:43:26.991388Z
            stack_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: Sword
            created_at: 2022-08-16T17:43:26.991388Z
            description: 2022-08-16T17:43:26.991388Z
            attributes:
            - display_type: number
              value: Happy
              trait_type: Aqua Power
            - display_type: number
              value: Happy
              trait_type: Aqua Power
            contract_address: contract_address
            youtube_url: https://some-url
          stack_count: 1
        page:
          previous_cursor: ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0=
          next_cursor: ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0=
      properties:
        result:
          description: List of stack bundles
          items:
            $ref: '#/components/schemas/StackBundle'
          type: array
        page:
          $ref: '#/components/schemas/Page'
      required:
      - page
      - result
      type: object
    StackBundle:
      description: "Stack bundle includes stacks, markets and listings"
      example:
        market: ""
        listings:
        - creator: 1334120697966828340666039427861105342297873844179
          amount: "1"
          listing_id: 018792C9-4AD7-8EC4-4038-9E05C598534A
          token_id: "1"
          price_details:
            amount:
              value_in_eth: "9750000000000000000"
              value: "9750000000000000000"
            fees:
            - type: TAKER_ECOSYSTEM
              recipient_address: 1390849295786071768276380950238675083608645509683
              amount: "1000000000000000000"
            token: null
            fee_inclusive_amount:
              value_in_eth: "9750000000000000000"
              value: "9750000000000000000"
        - creator: 1334120697966828340666039427861105342297873844179
          amount: "1"
          listing_id: 018792C9-4AD7-8EC4-4038-9E05C598534A
          token_id: "1"
          price_details:
            amount:
              value_in_eth: "9750000000000000000"
              value: "9750000000000000000"
            fees:
            - type: TAKER_ECOSYSTEM
              recipient_address: 1390849295786071768276380950238675083608645509683
              amount: "1000000000000000000"
            token: null
            fee_inclusive_amount:
              value_in_eth: "9750000000000000000"
              value: "9750000000000000000"
        - creator: 1334120697966828340666039427861105342297873844179
          amount: "1"
          listing_id: 018792C9-4AD7-8EC4-4038-9E05C598534A
          token_id: "1"
          price_details:
            amount:
              value_in_eth: "9750000000000000000"
              value: "9750000000000000000"
            fees:
            - type: TAKER_ECOSYSTEM
              recipient_address: 1390849295786071768276380950238675083608645509683
              amount: "1000000000000000000"
            token: null
            fee_inclusive_amount:
              value_in_eth: "9750000000000000000"
              value: "9750000000000000000"
        - creator: 1334120697966828340666039427861105342297873844179
          amount: "1"
          listing_id: 018792C9-4AD7-8EC4-4038-9E05C598534A
          token_id: "1"
          price_details:
            amount:
              value_in_eth: "9750000000000000000"
              value: "9750000000000000000"
            fees:
            - type: TAKER_ECOSYSTEM
              recipient_address: 1390849295786071768276380950238675083608645509683
              amount: "1000000000000000000"
            token: null
            fee_inclusive_amount:
              value_in_eth: "9750000000000000000"
              value: "9750000000000000000"
        - creator: 1334120697966828340666039427861105342297873844179
          amount: "1"
          listing_id: 018792C9-4AD7-8EC4-4038-9E05C598534A
          token_id: "1"
          price_details:
            amount:
              value_in_eth: "9750000000000000000"
              value: "9750000000000000000"
            fees:
            - type: TAKER_ECOSYSTEM
              recipient_address: 1390849295786071768276380950238675083608645509683
              amount: "1000000000000000000"
            token: null
            fee_inclusive_amount:
              value_in_eth: "9750000000000000000"
              value: "9750000000000000000"
        stack:
          image: https://some-url
          chain:
            name: imtbl-zkevm-testnet
            id: eip155:13372
          external_url: https://some-url
          animation_url: https://some-url
          updated_at: 2022-08-16T17:43:26.991388Z
          stack_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: Sword
          created_at: 2022-08-16T17:43:26.991388Z
          description: 2022-08-16T17:43:26.991388Z
          attributes:
          - display_type: number
            value: Happy
            trait_type: Aqua Power
          - display_type: number
            value: Happy
            trait_type: Aqua Power
          contract_address: contract_address
          youtube_url: https://some-url
        stack_count: 1
      properties:
        stack:
          $ref: '#/components/schemas/Stack'
        stack_count:
          description: Total count of NFTs in the stack matching the filter params
          example: 1
          type: integer
        market:
          allOf:
          - $ref: '#/components/schemas/Market'
          nullable: true
        listings:
          description: List of open listings for the stack.
          items:
            $ref: '#/components/schemas/Listing'
          maxItems: 10
          type: array
      required:
      - listings
      - market
      - stack
      - stack_count
      type: object
    QuotesForStacksResult:
      description: Quotes for stacks result
      example:
        result:
        - chain:
            name: imtbl-zkevm-testnet
            id: eip155:13372
          market_collection:
            last_trade:
              amount: "1"
              trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
              token_id: "1"
              price_details:
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              created_at: 2022-08-16T17:43:26.991388Z
            floor_listing: ""
          stack_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          market_stack:
            last_trade:
              amount: "1"
              trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
              token_id: "1"
              price_details:
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              created_at: 2022-08-16T17:43:26.991388Z
            floor_listing: ""
        - chain:
            name: imtbl-zkevm-testnet
            id: eip155:13372
          market_collection:
            last_trade:
              amount: "1"
              trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
              token_id: "1"
              price_details:
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              created_at: 2022-08-16T17:43:26.991388Z
            floor_listing: ""
          stack_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          market_stack:
            last_trade:
              amount: "1"
              trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
              token_id: "1"
              price_details:
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              created_at: 2022-08-16T17:43:26.991388Z
            floor_listing: ""
        page:
          previous_cursor: ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0=
          next_cursor: ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0=
      properties:
        result:
          description: List of quotes
          items:
            $ref: '#/components/schemas/StackQuoteResult'
          type: array
        page:
          $ref: '#/components/schemas/Page'
      required:
      - page
      - result
      type: object
    StackQuoteResult:
      description: Stack quote result
      example:
        chain:
          name: imtbl-zkevm-testnet
          id: eip155:13372
        market_collection:
          last_trade:
            amount: "1"
            trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
            token_id: "1"
            price_details:
            - amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
            - amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
            created_at: 2022-08-16T17:43:26.991388Z
          floor_listing: ""
        stack_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        market_stack:
          last_trade:
            amount: "1"
            trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
            token_id: "1"
            price_details:
            - amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
            - amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
            created_at: 2022-08-16T17:43:26.991388Z
          floor_listing: ""
      properties:
        chain:
          $ref: '#/components/schemas/Chain'
        stack_id:
          format: uuid
          type: string
        market_stack:
          $ref: '#/components/schemas/Market'
        market_collection:
          $ref: '#/components/schemas/Market'
      required:
      - chain
      - market_collection
      - market_stack
      - stack_id
      type: object
    QuotesForNFTsResult:
      description: Quotes for NFTs result
      example:
        result:
        - chain:
            name: imtbl-zkevm-testnet
            id: eip155:13372
          token_id: token_id
          market_collection:
            last_trade:
              amount: "1"
              trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
              token_id: "1"
              price_details:
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              created_at: 2022-08-16T17:43:26.991388Z
            floor_listing: ""
          market_nft:
            last_trade:
              amount: "1"
              trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
              token_id: "1"
              price_details:
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              created_at: 2022-08-16T17:43:26.991388Z
            floor_listing: ""
          market_stack:
            last_trade:
              amount: "1"
              trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
              token_id: "1"
              price_details:
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              created_at: 2022-08-16T17:43:26.991388Z
            floor_listing: ""
        - chain:
            name: imtbl-zkevm-testnet
            id: eip155:13372
          token_id: token_id
          market_collection:
            last_trade:
              amount: "1"
              trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
              token_id: "1"
              price_details:
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              created_at: 2022-08-16T17:43:26.991388Z
            floor_listing: ""
          market_nft:
            last_trade:
              amount: "1"
              trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
              token_id: "1"
              price_details:
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              created_at: 2022-08-16T17:43:26.991388Z
            floor_listing: ""
          market_stack:
            last_trade:
              amount: "1"
              trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
              token_id: "1"
              price_details:
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              - amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
                fees:
                - type: TAKER_ECOSYSTEM
                  recipient_address: 1390849295786071768276380950238675083608645509683
                  amount: "1000000000000000000"
                token: null
                fee_inclusive_amount:
                  value_in_eth: "9750000000000000000"
                  value: "9750000000000000000"
              created_at: 2022-08-16T17:43:26.991388Z
            floor_listing: ""
        page:
          previous_cursor: ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0=
          next_cursor: ewogICJ0eXBlIjogInByZXYiLAogICJpdGVtIjogewogICAgImlkIjogNjI3NTEzMCwKICAgICJjcmVhdGVkX2F0IjogIjIwMjItMDktMTNUMTc6MDQ6MTIuMDI0MTI2WiIKICB9Cn0=
      properties:
        result:
          description: List of quotes
          items:
            $ref: '#/components/schemas/NFTQuoteResult'
          type: array
        page:
          $ref: '#/components/schemas/Page'
      required:
      - page
      - result
      type: object
    NFTQuoteResult:
      description: NFT quote result
      example:
        chain:
          name: imtbl-zkevm-testnet
          id: eip155:13372
        token_id: token_id
        market_collection:
          last_trade:
            amount: "1"
            trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
            token_id: "1"
            price_details:
            - amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
            - amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
            created_at: 2022-08-16T17:43:26.991388Z
          floor_listing: ""
        market_nft:
          last_trade:
            amount: "1"
            trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
            token_id: "1"
            price_details:
            - amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
            - amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
            created_at: 2022-08-16T17:43:26.991388Z
          floor_listing: ""
        market_stack:
          last_trade:
            amount: "1"
            trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
            token_id: "1"
            price_details:
            - amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
            - amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
              fees:
              - type: TAKER_ECOSYSTEM
                recipient_address: 1390849295786071768276380950238675083608645509683
                amount: "1000000000000000000"
              token: null
              fee_inclusive_amount:
                value_in_eth: "9750000000000000000"
                value: "9750000000000000000"
            created_at: 2022-08-16T17:43:26.991388Z
          floor_listing: ""
      properties:
        chain:
          $ref: '#/components/schemas/Chain'
        token_id:
          type: string
        market_stack:
          $ref: '#/components/schemas/Market'
        market_nft:
          $ref: '#/components/schemas/Market'
        market_collection:
          $ref: '#/components/schemas/Market'
      required:
      - chain
      - market_collection
      - market_nft
      - market_stack
      - token_id
      type: object
    Stack:
      description: Stack
      example:
        image: https://some-url
        chain:
          name: imtbl-zkevm-testnet
          id: eip155:13372
        external_url: https://some-url
        animation_url: https://some-url
        updated_at: 2022-08-16T17:43:26.991388Z
        stack_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name: Sword
        created_at: 2022-08-16T17:43:26.991388Z
        description: 2022-08-16T17:43:26.991388Z
        attributes:
        - display_type: number
          value: Happy
          trait_type: Aqua Power
        - display_type: number
          value: Happy
          trait_type: Aqua Power
        contract_address: contract_address
        youtube_url: https://some-url
      properties:
        stack_id:
          description: Stack ID
          format: uuid
          type: string
        chain:
          $ref: '#/components/schemas/Chain'
        contract_address:
          description: Contract address
          type: string
        created_at:
          description: When the metadata was created
          example: 2022-08-16T17:43:26.991388Z
          format: date-time
          type: string
        updated_at:
          description: When the metadata was last updated
          example: 2022-08-16T17:43:26.991388Z
          format: date-time
          type: string
        name:
          description: The name of the NFT
          example: Sword
          nullable: true
          type: string
        description:
          description: The description of the NFT
          example: 2022-08-16T17:43:26.991388Z
          nullable: true
          type: string
        image:
          description: The image url of the NFT
          example: https://some-url
          nullable: true
          type: string
        external_url:
          description: The external website link of NFT
          example: https://some-url
          nullable: true
          type: string
        animation_url:
          description: The animation url of the NFT
          example: https://some-url
          nullable: true
          type: string
        youtube_url:
          description: The youtube URL of NFT
          example: https://some-url
          nullable: true
          type: string
        attributes:
          description: List of Metadata attributes
          items:
            $ref: '#/components/schemas/NFTMetadataAttribute'
          nullable: true
          type: array
      required:
      - animation_url
      - attributes
      - chain
      - contract_address
      - created_at
      - description
      - external_url
      - image
      - name
      - stack_id
      - updated_at
      - youtube_url
      type: object
    NFTMetadataAttribute:
      example:
        display_type: number
        value: Happy
        trait_type: Aqua Power
      properties:
        display_type:
          description: Display type for this attribute
          enum:
          - number
          - boost_percentage
          - boost_number
          - date
          example: number
          nullable: true
          type: string
        trait_type:
          description: The metadata trait type
          example: Aqua Power
          type: string
        value:
          $ref: '#/components/schemas/NFTMetadataAttribute_value'
      required:
      - trait_type
      - value
      type: object
    Market:
      description: Market data
      example:
        last_trade:
          amount: "1"
          trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
          token_id: "1"
          price_details:
          - amount:
              value_in_eth: "9750000000000000000"
              value: "9750000000000000000"
            fees:
            - type: TAKER_ECOSYSTEM
              recipient_address: 1390849295786071768276380950238675083608645509683
              amount: "1000000000000000000"
            token: null
            fee_inclusive_amount:
              value_in_eth: "9750000000000000000"
              value: "9750000000000000000"
          - amount:
              value_in_eth: "9750000000000000000"
              value: "9750000000000000000"
            fees:
            - type: TAKER_ECOSYSTEM
              recipient_address: 1390849295786071768276380950238675083608645509683
              amount: "1000000000000000000"
            token: null
            fee_inclusive_amount:
              value_in_eth: "9750000000000000000"
              value: "9750000000000000000"
          created_at: 2022-08-16T17:43:26.991388Z
        floor_listing: ""
      properties:
        floor_listing:
          allOf:
          - $ref: '#/components/schemas/Listing'
          nullable: true
        last_trade:
          $ref: '#/components/schemas/LastTrade'
      required:
      - floor_listing
      - last_trade
      type: object
    LastTrade:
      description: Last trade
      example:
        amount: "1"
        trade_id: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
        token_id: "1"
        price_details:
        - amount:
            value_in_eth: "9750000000000000000"
            value: "9750000000000000000"
          fees:
          - type: TAKER_ECOSYSTEM
            recipient_address: 1390849295786071768276380950238675083608645509683
            amount: "1000000000000000000"
          token: null
          fee_inclusive_amount:
            value_in_eth: "9750000000000000000"
            value: "9750000000000000000"
        - amount:
            value_in_eth: "9750000000000000000"
            value: "9750000000000000000"
          fees:
          - type: TAKER_ECOSYSTEM
            recipient_address: 1390849295786071768276380950238675083608645509683
            amount: "1000000000000000000"
          token: null
          fee_inclusive_amount:
            value_in_eth: "9750000000000000000"
            value: "9750000000000000000"
        created_at: 2022-08-16T17:43:26.991388Z
      nullable: true
      properties:
        trade_id:
          description: Trade ID
          example: 4e28df8d-f65c-4c11-ba04-6a9dd47b179b
          format: uuid
          type: string
        token_id:
          description: Token id of the traded asset (uint256 as string)
          example: "1"
          type: string
        price_details:
          description: "Price details, list of payments involved in this trade"
          items:
            $ref: '#/components/schemas/PriceDetails'
          type: array
        amount:
          description: Amount of the trade (uint256 as string)
          example: "1"
          type: string
        created_at:
          description: When the trade was created
          example: 2022-08-16T17:43:26.991388Z
          format: date-time
          type: string
      required:
      - amount
      - created_at
      - price_details
      - token_id
      - trade_id
      type: object
    Listing:
      description: Listing
      example:
        creator: 1334120697966828340666039427861105342297873844179
        amount: "1"
        listing_id: 018792C9-4AD7-8EC4-4038-9E05C598534A
        token_id: "1"
        price_details:
          amount:
            value_in_eth: "9750000000000000000"
            value: "9750000000000000000"
          fees:
          - type: TAKER_ECOSYSTEM
            recipient_address: 1390849295786071768276380950238675083608645509683
            amount: "1000000000000000000"
          token: null
          fee_inclusive_amount:
            value_in_eth: "9750000000000000000"
            value: "9750000000000000000"
      properties:
        listing_id:
          description: Global Order identifier
          example: 018792C9-4AD7-8EC4-4038-9E05C598534A
          type: string
        price_details:
          $ref: '#/components/schemas/PriceDetails'
        token_id:
          description: Token ID
          example: "1"
          type: string
        creator:
          description: ETH Address of listing creator
          example: "1334120697966828340666039427861105342297873844179"
          type: string
        amount:
          description: Amount of token included in the listing
          example: "1"
          type: string
      required:
      - amount
      - creator
      - listing_id
      - price_details
      - token_id
      type: object
    NativeToken:
      properties:
        type:
          description: "Token type user is offering, which in this case is the native\
            \ IMX token"
          enum:
          - NATIVE
          example: NATIVE
          type: string
        symbol:
          description: The symbol of token
          example: IMX
          nullable: true
          type: string
      required:
      - symbol
      - type
      type: object
    ERC20Token:
      properties:
        type:
          description: "Token type user is offering, which in this case is ERC20"
          enum:
          - ERC20
          example: ERC20
          type: string
        contract_address:
          description: Address of ERC20 token
          example: "7973173272142053871140891859049224849605192591"
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
        symbol:
          description: The symbol of token
          example: ETH
          nullable: true
          type: string
        decimals:
          description: The decimals of token
          example: 18
          nullable: true
          type: integer
      required:
      - contract_address
      - decimals
      - symbol
      - type
      type: object
    PriceDetails:
      description: Price details
      example:
        amount:
          value_in_eth: "9750000000000000000"
          value: "9750000000000000000"
        fees:
        - type: TAKER_ECOSYSTEM
          recipient_address: 1390849295786071768276380950238675083608645509683
          amount: "1000000000000000000"
        token: null
        fee_inclusive_amount:
          value_in_eth: "9750000000000000000"
          value: "9750000000000000000"
      properties:
        token:
          $ref: '#/components/schemas/PriceDetails_token'
        amount:
          $ref: '#/components/schemas/PaymentAmount'
        fee_inclusive_amount:
          $ref: '#/components/schemas/PaymentAmount'
        fees:
          example:
          - type: TAKER_ECOSYSTEM
            recipient_address: 1390849295786071768276380950238675083608645509683
            amount: "1000000000000000000"
          items:
            $ref: '#/components/schemas/Fee'
          type: array
      required:
      - amount
      - fee_inclusive_amount
      - fees
      - token
      type: object
    PaymentAmount:
      description: Amount details
      example:
        value_in_eth: "9750000000000000000"
        value: "9750000000000000000"
      properties:
        value:
          description: The token amount value. This value is provided in the smallest
            unit of the token (e.g. wei for ETH)
          example: "9750000000000000000"
          pattern: \d+
          type: string
        value_in_eth:
          description: The token amount value in ETH
          example: "9750000000000000000"
          pattern: \d+
          type: string
      required:
      - value
      - value_in_eth
      type: object
    BackfillRequest:
      description: Backfill request
      example:
        api-url: https://indexer-mr.dev.imtbl.com
        entity: entity
      properties:
        entity:
          description: The entity to be backfilled
          type: string
        api-url:
          description: The indexer url for the given chain and entity
          example: https://indexer-mr.dev.imtbl.com
          type: string
      required:
      - api-url
      - entity
      type: object
    Fee:
      example:
        amount: "1000000000000000000"
        type: ROYALTY
        recipient_address: 1390849295786071768276380950238675083608645509683
      properties:
        amount:
          description: Fee in the payment currency
          example: "1000000000000000000"
          type: string
        type:
          description: Fee type
          enum:
          - ROYALTY
          - MAKER_ECOSYSTEM
          - TAKER_ECOSYSTEM
          - PROTOCOL
          example: ROYALTY
          type: string
        recipient_address:
          description: Wallet address of fee recipient
          example: "1390849295786071768276380950238675083608645509683"
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
      required:
      - amount
      - recipient_address
      - type
      type: object
    APIError400:
      allOf:
      - $ref: '#/components/schemas/BasicAPIError'
      - $ref: '#/components/schemas/APIError400_allOf'
      example:
        trace_id: e47634b79a5cd6894ddc9639ec4aad26
        code: VALIDATION_ERROR
        link: https://docs.x.immutable.com/reference/#/
        details: "{}"
        message: all fields must be provided
    BasicAPIError:
      properties:
        message:
          description: Error Message
          example: all fields must be provided
          type: string
        link:
          description: Link to IMX documentation that can help resolve this error
          example: https://docs.x.immutable.com/reference/#/
          type: string
        trace_id:
          description: Trace ID of the initial request
          example: e47634b79a5cd6894ddc9639ec4aad26
          type: string
      required:
      - link
      - message
      - trace_id
      type: object
    APIError401:
      allOf:
      - $ref: '#/components/schemas/BasicAPIError'
      - $ref: '#/components/schemas/APIError401_allOf'
      example:
        trace_id: e47634b79a5cd6894ddc9639ec4aad26
        code: UNAUTHORISED_REQUEST
        link: https://docs.x.immutable.com/reference/#/
        details: "{}"
        message: all fields must be provided
    APIError403:
      allOf:
      - $ref: '#/components/schemas/BasicAPIError'
      - $ref: '#/components/schemas/APIError403_allOf'
      example:
        trace_id: e47634b79a5cd6894ddc9639ec4aad26
        code: AUTHENTICATION_ERROR
        link: https://docs.x.immutable.com/reference/#/
        details: "{}"
        message: all fields must be provided
    APIError404:
      allOf:
      - $ref: '#/components/schemas/BasicAPIError'
      - $ref: '#/components/schemas/APIError404_allOf'
      example:
        trace_id: e47634b79a5cd6894ddc9639ec4aad26
        code: RESOURCE_NOT_FOUND
        link: https://docs.x.immutable.com/reference/#/
        details: "{}"
        message: all fields must be provided
    APIError500:
      allOf:
      - $ref: '#/components/schemas/BasicAPIError'
      - $ref: '#/components/schemas/APIError500_allOf'
      example:
        trace_id: e47634b79a5cd6894ddc9639ec4aad26
        code: INTERNAL_SERVER_ERROR
        link: https://docs.x.immutable.com/reference/#/
        details: "{}"
        message: all fields must be provided
    APIError409:
      allOf:
      - $ref: '#/components/schemas/BasicAPIError'
      - $ref: '#/components/schemas/APIError409_allOf'
    APIError429:
      allOf:
      - $ref: '#/components/schemas/BasicAPIError'
      - $ref: '#/components/schemas/APIError429_allOf'
    NFTMetadataAttribute_value:
      description: The metadata trait value
      example: Happy
      oneOf:
      - type: string
      - type: number
      - type: boolean
    PriceDetails_token:
      description: Token details
      discriminator:
        mapping:
          NATIVE: '#/components/schemas/NativeToken'
          ERC20: '#/components/schemas/ERC20Token'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/NativeToken'
      - $ref: '#/components/schemas/ERC20Token'
    APIError400_allOf:
      properties:
        code:
          description: Error Code
          enum:
          - VALIDATION_ERROR
          example: VALIDATION_ERROR
          type: string
        details:
          description: Additional details to help resolve the error
          nullable: true
          type: object
      required:
      - code
      - details
      type: object
      example: null
    APIError401_allOf:
      properties:
        code:
          description: Error Code
          enum:
          - UNAUTHORISED_REQUEST
          example: UNAUTHORISED_REQUEST
          type: string
        details:
          description: Additional details to help resolve the error
          nullable: true
          type: object
      required:
      - code
      - details
      type: object
      example: null
    APIError403_allOf:
      properties:
        code:
          description: Error Code
          enum:
          - AUTHENTICATION_ERROR
          example: AUTHENTICATION_ERROR
          type: string
        details:
          description: Additional details to help resolve the error
          nullable: true
          type: object
      required:
      - code
      - details
      type: object
      example: null
    APIError404_allOf:
      properties:
        code:
          description: Error Code
          enum:
          - RESOURCE_NOT_FOUND
          example: RESOURCE_NOT_FOUND
          type: string
        details:
          description: Additional details to help resolve the error
          nullable: true
          type: object
      required:
      - code
      - details
      type: object
      example: null
    APIError500_allOf:
      properties:
        code:
          description: Error Code
          enum:
          - INTERNAL_SERVER_ERROR
          example: INTERNAL_SERVER_ERROR
          type: string
        details:
          description: Additional details to help resolve the error
          nullable: true
          type: object
      required:
      - code
      - details
      type: object
      example: null
    APIError409_allOf:
      properties:
        code:
          description: Error Code
          enum:
          - CONFLICT_ERROR
          example: CONFLICT_ERROR
          type: string
        details:
          additionalProperties: true
          description: Additional details to help resolve the error
          nullable: true
          type: object
      required:
      - code
      - details
      type: object
      example: null
    APIError429_allOf:
      properties:
        code:
          description: Error Code
          enum:
          - TOO_MANY_REQUESTS_ERROR
          example: TOO_MANY_REQUESTS_ERROR
          type: string
        details:
          description: Additional details to help resolve the error
          nullable: true
          type: object
      required:
      - code
      - details
      type: object
      example: null
  securitySchemes:
    ImmutableApiKey:
      in: header
      name: x-immutable-api-key
      type: apiKey
      x-go-name: ImmutableApiKey

